.tree-side-menu {
    text-align: left;
}

.Container {
    padding: 0;
    margin: 0;
}

.Container li {
    list-style-type: none;
}

/* indent for all tree children excepts root */
.Node {
    margin-left: 18px;
    zoom: 1;

}

li.Node.active > div.Content > a {
    font-weight: bold;
}

.IsRoot {
    margin-left: 0;
}

.ExpandOpen .Expand {
    /*background-image: url(img/minus.gif);*/
    /*width: 0px;*/
    /*height: 0;*/
    /*margin-left: 2px;*/
    /*border-top: 6px dashed;*/
    /*border-right: 6px solid transparent;*/
    /*border-left: 6px solid transparent;*/
    /*margin-top: 8px;*/
}
.Expand {
    font-family: FontAwesome;
    font-size: 16px;
    font-weight: 300;
    height: auto;
    text-shadow: none;
    /*margin-top: 0;*/
    /*float: right;*/
}

.ExpandOpen .Expand:after {
    content: "\f107";
}

.NoExpand:after {
    float: left;
    content: "\00B7";
    font-weight: 900;
}

/* closed is higher priority than open */
.ExpandClosed .Expand {
    /*background-image: url(img/plus.gif);*/
}

.ExpandClosed .Expand:after {
    content: "\f105";
}

/* highest priority */
.ExpandLeaf .Expand {
    background-image: url(img/leaf.gif);
}

.Content {
    min-height: 18px;
    margin-left:18px;
}
* html  .Content {
    height: 18px;
}

.ExpandLoading   {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(img/loading.gif);
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}

.ExpandOpen .Container {
    display: block;
}

.ExpandClosed .Container {
    display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
    cursor: pointer;
}
.ExpandLeaf .Expand {
    cursor: auto;
}
