@import url(https://allfont.ru/allfont.css?fonts=exo-20-extra-bold);

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: 14em !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu ul.list-unstyled {
    font-size: 15px;
    width: 100%;
}

.bootstrap-datetimepicker-widget table th {
    height: 35px !important;
    line-height: 35px !important;
    width: 20px !important;
}

.date-calendar-custom {
    margin-right: 5px;
    width: 40px;
    line-height: 1;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding-top: 10px;;
}

.parallax-container-no-overlay {
    overflow: unset !important;
}

@media (max-width: 768px) {
    .block-swiper-slide-caption-custom h1 {
        font-size: 30px !important;
        letter-spacing: 0 !important;
        margin-bottom: 0 !important;
        margin-top: 5px !important;
    }
    .block-swiper-slide-caption-custom {
        padding-top: 15px !important;
    }
    .block-swiper-slide-caption-custom p {
        font-size: 20px !important;
        letter-spacing: 0 !important;
        display: block;
    }
    .block-swiper-slide-caption-custom p {
        margin-top: 0 !important;
        margin-bottom: 5px !important;
    }
    .block-swiper-slide-caption-custom .button {
        margin-top: 0 !important;
    }
    .swiper-slider-container-custom .swiper-pagination-clickable {
        bottom: 5px !important;
    }
}

@media (min-width:769px) and (max-width: 991px) {
    .block-swiper-slide-caption-custom {
        padding-top: 1px !important;
    }
    .block-swiper-slide-caption-custom h1 {
        margin-bottom: 15px !important;
    }
    .block-swiper-slide-caption-custom p {
        font-size: 35px !important;
    }
    .block-swiper-slide-caption-custom .button {
        margin-top: 15px !important;
    }
    .swiper-slider-container-custom .swiper-pagination-clickable {
        bottom: 15px !important;
    }
}

/*Кастомизация карусели*/
.swiper-button-prev {
    left: 3%;
}

.swiper-button-next {
    right: 3%;
}

.block-swiper-slide-caption-custom {
    background: #00000075;
    padding-top: 30px;
    padding-bottom: 50px;
}

.block-swiper-slide-caption-custom h1 {
    font-family: 'Exo 2.0 Extra Bold', arial;
    color: #FAC85D;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0.4rem;
    margin-bottom: 35px;
}

.block-swiper-slide-caption-custom p {
    font-family: 'Exo 2.0 Extra Bold', arial;
    font-size: 40px;
    letter-spacing: 0.4rem;
}

/*Кастомизация карусели*/

/*Последние публикации*/
.header-last-publ-posts {
    font-family: 'Exo 2.0 Extra Bold', arial;
    font-size: 40px;
    letter-spacing: 0.2rem;
    color: #000000;
    text-align: left;
    margin-bottom: -20px;
    margin-left: 15px;
}

.text-block-title-subscribe-posts {
    font-family: 'Exo 2.0 Extra Bold', arial;
    font-size: 30px;
    letter-spacing: 0.2rem;
    margin-bottom: 15px;
}

.text-block-extra-subscribe-posts {
    font-family: 'Exo 2.0 Exo2.0 Regular', arial;
    font-size: 14px;
    letter-spacing: 0.2rem;
}

.section-block-publ-posts .material-parallax img {
    transform: translate3d(0%, 8px, 0px) !important;
    left: 40% !important;
    min-width: 50% !important;
    top: -4% !important;
    height: 125px;
}
.container-block-publ-posts {
    width: 600px;
    margin-left: 0px;
}
.block-last-publ-posts .material-parallax img {
    transform: translate3d(0%, 8px, 0px) !important;
    left: 45%;
    min-width: 60%;
    min-height: 100%;
    max-width: none;
    right: 100%;
    top: -10%;
    width: auto;
}
.section-block-publ-posts {
    background-color: #fff !important;
}
.box-block-publ-posts {
    padding: 60px 65px 60px;
}
.publ-last-post-box {
    height: auto;
}

.publ-last-post-box .post-box-img-wrap img {
    max-height: 100% !important;
}
.block-last-publ-posts .post-box-img-wrap {
    /*flex-basis: unset;*/
    background: #fff;
    padding-left: 11px;
    /*width: 25%;*/
}
@media (max-width: 768px) {
    .publ-last-post-box .post-box-img-wrap img {
        max-height: 100% !important;
    }
}
.section-block-last-publ-posts .post-box .post-box-caption {
    padding: 50px 30px !important;
}
.publ-last-post-box.post-box .post-box-caption {
    padding-bottom: 0;
}
.block-last-publ-posts .post-box-caption {
    /*flex-basis: unset;*/
    padding-top: 0 !important;
    padding-left: 15px !important;
}

.section-block-subscribe-posts {
    background: #fff !important;
    fill: #fff !important;
}

.section-block-subscribe-posts .material-parallax img {
    transform: translate3d(0%, 8px, 0px) !important;
    left: 0;
    /*bottom: 0;*/
    min-width: 60%;
    /*min-height: 33%;*/
    /*max-width: none;*/
    /*transform: translate3d(-50%, 0, 0);*/
    /*right: 100%;*/
    /*top: -60px;*/
    height: 125px;
    width: 55%;
}

@media (max-width: 768px) {
    .section-block-subscribe-posts .material-parallax img {
        transform: translate3d(0%, 8px, 0px) !important;
        left: 0;
        min-width: 100%;
        width: 55%;
    }

    .block-last-publ-posts .material-parallax img {
        transform: translate3d(0%, 8px, 0px) !important;
        left: 0;
        min-width: 60%;
        min-height: auto;
        max-width: 101%;
        top: -10%;
        width: auto;
    }

    .container-block-subscribe-posts {
        margin-right: auto !important;
        width: auto !important;
    }
    .section-block-subscribe-posts {
        background: transparent;
    }
}

.box-block-subscribe-posts {
    padding: 60px 65px 60px;
}

.container-block-subscribe-posts {
    width: 550px;
    margin-right: 200px;
}
@media (max-width: 768px) {
    .container-block-publ-posts {
        width: auto !important;
    }
    .section-block-publ-posts .material-parallax img {
        left: 0 !important;
    }
}
.last_publ_post_more {
    color: #105713;
}
/*Последние публикации*/

/*Кастомизация футера*/
footer.page-footer {
    padding-top: 450px;
}

footer.page-footer .material-parallax img {
    width: 100%;
}

.page-footer-container {
    background: #004B2B;
    opacity: 0.9;
    padding-top: 15px;
}

.button-messagengers,
.button-messagengers:hover,
.button-messagengers:hover:focus:active,
.button-messagengers:focus,
.button-messagengers:active,
.button-messagengers:focus:active {
    background-color: inherit !important;
    border-color: #fff !important;
    color: #fff !important;
}

.contact-info-address .unit {
    font-size: 14px;
}

.icon-messagers-phone {
    border: 1px solid #ECCB77;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    padding: 5px;
    background: #E2B545;
    color: #094F31;
    font-size: 20px;
}
/*Кастомизация футера*/

/*Настройка блока отзывов*/
.header-reviews {
    font-family: 'Exo 2.0 Extra Bold', arial;
    font-size: 30px;
    letter-spacing: 0.2rem;
    color: #000000;
}

.section-block-guestbook-posts {
    background: linear-gradient(to right, #F5F5F5 10%,#F5F5F5 50%,#F5F5F5 65%,#fff 30%,#fff 100%) no-repeat;
    fill: #F5F5F5 !important;
}

@media (max-width: 769px) {
    .section-block-guestbook-posts {
        /*background: unset !important;*/
        background-size: 185%;
        background-repeat: no-repeat;
        margin-left: -25px;
    }
    .section-block-guestbook-posts .owl-carousel {
        width: 103% !important;
    }
}

@media (max-width: 991px) {
    .section-block-guestbook-posts {
        background-color: unset !important;
    }
    .section-block-guestbook-posts {
        background: unset !important;
    }
    .block-button-guestbook .button {
        background-color: #F5F5F5;
    }

    .section-block-guestbook-posts .owl-stage-outer {
        background-color: #F5F5F5 !important;
        margin-top: 40px !important;
    }

    .section-block-guestbook-posts .owl-dots {
        margin-bottom: 10px;
    }
    .section-block-guestbook-posts .material-parallax img {
        top: -5% !important;
        left: 0 !important;
        border: none !important;
        width: 97% !important;
    }
}

.section-block-guestbook-posts .material-parallax img {
    transform: translate3d(0%, 8px, 0px) !important;
    left: 57%;
    min-width: 50%;
    min-height: 460px;
    max-width: none;
    top: 5%;
    border: 5px solid #fff;
}
.section-block-guestbook-posts {
    height: 550px;
}
.img-face-review-wrap {
    border: none;
    box-shadow: none;
    background: #E8E8E8;
}

.img-face-review-wrap img {
    width: 70px;
    height: 50px;
    padding: 5px;
}

.block-guestbook-posts {
    margin-left: 50px;
}

@media (max-width: 768px) {
    .block-guestbook-posts {
        margin-left: 5px;
    }
}

.section-block-guestbook-posts .team-member::before {
    /*    background: none !important;*/
    height: 0 !important;
}

.section-block-guestbook-posts .owl-dot {
    background: #000000;
}

.block-button-guestbook {
    margin-top: 20px;
    margin-left: -20px;
}

.modal.modal-custom .modal-content {
    overflow: hidden;
}

.button-reviews {
    margin-top: 5px;
}

/*Настройка блока отзывов*/

/*Кастомизация лучших предложений*/
.header-best-offers {
    font-family: 'Exo 2.0 Extra Bold', arial;
    font-size: 50px;
    letter-spacing: 0.5rem;
    color: #000000;
    /*width: 70%;*/
    margin: 0 auto;
    text-align: left;
}

@media (max-width: 450px) {
    .header-best-offers {
        font-size: 44px !important;
        letter-spacing: 0 !important;
        margin-left: 10px;
    }
}

.button-best-offers-custom {
    margin-top: -15px;
    position: absolute;
    left: 30%;
    background-color: #FAC960;
    border-color: #FAC960;
    color: #482800;
    text-transform: none;
    font-size: 14px;
    font-weight: 500;
}

.text-best-offers {
    text-align: left;
    color: #FAC960;
    margin-top: 30px;
}
@media (max-width: 445px) {
    .text-best-offers {
        text-align: center !important;
    }
}
.box-offer .box-offer-caption {
    height: 170px;
}

/*Кастомизация лучших предложений*/
.last-publication-hidden {
    display: none;
}

.button-last-publication-posts {
    border-radius: 40px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    background: #FFF;
    width: 100%;
    height: 45px;
    padding: 5px 0;
}
@media (max-width: 768px) {
    .block-last-publication-button {
        margin-top: 55px;
    }
}
.button-best-offers-again-show {
    border-radius: 40px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    background: #FFF;
    width: auto;
    height: 45px;
    padding: 5px 25px;
    margin-top: 20px;
}

/*Кастомизация лучших предложений*/

@media (min-width: 769px) {
    .page-footer-container .icon-messagers-block-custom {
        position: absolute;
        left: 20px;
        width: 30px;
        top: 5px;
    }
}

@media (max-width: 1200px) {
    .page-footer-container .container {
        width: 900px;
    }
}

.hidden {
    display: none;;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

.button-primary {
    background-color: #FAC960;
    border-color: #FAC960;
    color: #482800;
    text-transform: none;
    font-size: 14px;
    font-weight: 500;
}

.text-lists-footer {
    font-size: 17px;
}

footer.page-footer {
    font-family: Fira Sans, Arial;
    font-weight: 100;
}

/*Кастомизация меню*/
@media (min-width: 1033px) and (max-width: 1092px) {
    .rd-navbar-static .rd-navbar-nav > li.menu-list-width {
        max-width: 110px !important;
    }
}
@media (min-width: 979px) and (max-width: 1032px) {
    .rd-navbar-static .rd-navbar-nav > li.menu-list-width {
        max-width: 90px !important;
    }
}
@media (min-width: 940px) and (max-width: 978px) {
    .rd-navbar-static .rd-navbar-nav > li.menu-list-width {
        max-width: 90px !important;
    }
    .rd-navbar-static .rd-navbar-nav > li.menu-list-width.andalucia {
        width: 60px;
    }
    .rd-navbar-static .rd-navbar-nav > li.menu-list-width.otdyh-v-ispanii {
        width: 65px;
    }
    .rd-navbar-static .rd-navbar-nav > li.menu-list-width.arenda-yaxt {
        width: 60px !important;
    }
}
@media (min-width: 768px) and (max-width: 939px) {
    .rd-navbar-static .rd-navbar-nav > li.menu-list-width {
        max-width: 90px !important;
    }
    .rd-navbar-static .rd-navbar-nav > li.menu-list-width.andalucia {
        width: 60px;
    }
    .rd-navbar-static .rd-navbar-nav > li.menu-list-width.otdyh-v-ispanii {
        width: 65px;
    }
    .rd-navbar-static .rd-navbar-nav > li.menu-list-width.arenda-yaxt {
        width: 35px;
    }
    .rd-navbar-static .rd-navbar-nav-wrap {
        width: 700px;
    }
    .rd-navbar-static .rd-navbar-right-side-wrap {
        margin-right: -25px;
    }
    .rd-navbar-static .rd-navbar-right-side-wrap a span {
        font-size: 15px;
    }
    .rd-navbar-static .rd-navbar-brand-desktop {
        margin-left: -15px;
    }
}
.icon-navbar-menu-phone {
    color: #105713;
    font-size: 20px;
}
/*Кастомизация меню*/
.text-green {
    color: #105713;
}